<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>Home</h1>
        <hr>
        <a href="/questions" class="btn btn-primary" id="ButAskQ">perguntar</a>
        <hr>
        <% Allquestions.forEach(Allquestions => { %>
            <br>
            <div class="card" id="cardHomeQuestion" >
                
                <div class="card-body">
                    <h3><%= Allquestions.title %></h3>
                </div>
                <div class="card-footer">
                    <a href="/questions/<%= Allquestions.id %>"><button class="btn btn-primary" id="ButResQ">Responder </button></a>
                </div>

            </div>
        <%}) %>
        <br>
    </div>
</body>
<%- include('./partials/footer.ejs') %>