<%- include("./partials/header.ejs") %>

<body>
    <%- include("./partials/navbar.ejs") %>
    <h1> Page Questions</h1>
    <hr>

    <div class="conteiner">
 
        <h3><%= foundQuestion.title %></h3>
        <p><%= foundQuestion.description %></p>
        
    </div>

</body>

<%- include("./partials/footer.ejs") %>